@model UserService.Data.Models.User
@inject GatewayService.Services.GatewayService gate
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "User";
}
@{ var channels = await gate.GetUserChannelsList(Model.Id);}
@{ var boards = await gate.GetUserBoardsList(Model.Id);}
@{ var subs = await gate.GetUserSubscriptionsList(Model.Id);}


<div class="col-lg-10" style="margin-left:80px;">

    <!--  <div class="col-md-4">
            <div class="profile-img">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                              <div class="file btn btn-lg btn-primary">
              Change Photo
              <input type="file" name="file" />
          </div>
                      </div>
    </div>-->
    <div class="col-md-6">
        <h5>
            @Model.ShortName
        </h5>
        <h6>
            @{ var name = $"{Model.FirstName} {Model.LastName}";}
            @name
        </h6>
        <br/>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="active nav-link" data-toggle="tab" href="#boardsTab">Boards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#channelsTab">Channels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#subsTab">Subscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#createTab">Create</a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top:10px; margin-left:20px">
            <div class="tab-pane fade active show" id="boardsTab">
                @if (boards.Count() == 0)
                {
                    <text>У вас еще нет досок. Создайте новую!</text>
                }
                else
                {
                    @foreach (var item in boards)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                @Html.ActionLink(item.BoardName, "GetFullBoard", "Images", new { userid = item.UserId, id = item.Id }, null)
                            </div>
                            <div class="col-md-6">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="tab-pane fade" id="channelsTab">
                @if (channels.Count() == 0)
                {
                    <text>Вы еще не создали ни одного канала.</text>
                }
                else
                {
                    @foreach (var item in channels)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                @Html.ActionLink(item.Name, "GetFullChannel", "Images", new { id = item.Id }, null)
                            </div>
                            <div class="col-md-6">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="tab-pane fade" id="subsTab">
                @if (subs.Count() == 0)
                {
                    <text>У вас пока нет подписок на каналы.</text>
                }
                else
                {
                    @foreach (var item in subs)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                @Html.ActionLink(item.ChannelName, "GetFullChannel", "Images", new { id = item.ChannelId }, null)
                            </div>
                            <div class="col-md-6">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                }
                </div>
            <div class="tab-pane fade" id="createTab">
                <form asp-controller="Profiles" asp-action="AddBoardorChannel" |
                      asp-route-id="@Model.Id" method="post">
                    <input name="isChannel" type="radio" value="true" />
                    <span>Channel</span> <br />
                    <input name="isChannel" type="radio" value="false" />
                    <span>Board</span> <br />
                    Name:  <input name="name" /> <br />
                    Description: <input name="descr" /><br />
                    <button type="submit">Create</button>
                </form>
            </div>

        </div>
        <hr/>
    </div>
</div>
